.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    input, textarea {
        width: 100%;
        min-height: 55px;
        padding: 0 20px;
        outline: none;
        color: $white;
        background-color: rgba($white, 0.2);
        border: 1px solid transparent;

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 100%;
        min-height: 200px;
        padding: 20px;
    }

    label {
        font-size: 17px;
        padding-bottom: 4px;
        color: $white;
    }

    .captcha {
        position: relative;

        input {
            width: calc(100% - 140px);
        }

        i {
            position: absolute;
            right: 0;
            bottom: 10px;
            max-width: 120px;
        }
    }
}

.btn-group {
    position: relative;
    margin-top: 50px;
    margin-bottom: -10px;

    @include media-sm {
        margin-top: 20px;
    }

    .btn {
        min-width: 225px;

        @include media-sm {
            width: 100%;
        }
    }

    a{
        color: $primary;
        text-decoration: underline;
    }
}
